<article class="bucket">
<div class="details">
    <h3>Bucket Name: <span>{{@list.label}}</span></h3>
    <div class="detail cluster">
      <span>cluster:</span> {{@list.cluster}}
    </div>
    <div class="detail created">
      <span>Created:</span> {{@list.created}}
    </div>
    <div class="detail files">
      <span>Number Of Files in Bucket:</span> {{@list.objects}}
    </div>
  </div>
</article>