<nav class="menu">
  <LinkTo @route="index">
    <img src="../assets/images/bucketicon.svg" alt="bucket icon" />
    <h1>Bucket Creator</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="viewbucket" class="menu-view">
      View Bucket
    </LinkTo>
    <LinkTo @route="createbucket" class="menu-create">
      Create Bucket
    </LinkTo>
  </div>
</nav>