<div class="homepage">
  <LinkTo @route="index">
    <img src="../assets/images/bucketicon.svg" alt="bucket icon" />
  </LinkTo>

  <h2 class="homepageheader">Cloud Bucket Creator</h2>
  <p class="homepageparagraph">
    We do not want sales touching our cloud configs so here's a tool they can
    use to make their own Buckets. Not too many bucket creations though
  </p>
  <LinkTo @route="createbucket" class="button">Create Bucket</LinkTo>
</div>